*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    margin: 2% 2%;
}


/* header */

.header h1{
    display: inline-block;
}

.header i{
    margin-left: 10px;
    margin-right: 5px;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: grey;
    border: 4px solid gray ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* main */

.main_container{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr);
    grid-template-areas:
        "name_container attributes_container"
        "name_container attributes_container"
        "name_container attributes_container" ;
    max-height: 1200px;
}



/* name container */
.name_container{
    grid-area: name_container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    /*border: 5px solid black;
    border-radius: 15px; */
    margin: 7.5%;
}



.title_pok{
    grid-area: 1 / 1 / span 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-size: 2rem;
}

.title_pok img{
    max-height: 3rem;
    max-width: 3rem;
    margin-right: 10px;
}


.img_pok{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.img_pok img{
    width: 100%;
    height: auto;
}

/* attributes container */
.attributes_container{
    grid-area: attributes_container;
    margin: 7.5%;
    border-radius: 15px;
    background-color: white;
    color: grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 22px;
}

.attribute{
    align-self: center;
    justify-self: center;
}

.attribute p{
    font-size: 1.5rem;
}

.attribute *{
    margin: 10px;
}


/* footer */

.footer{
    grid-area: footer;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: grey;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "other button button button button"
    ;
}

.other_container{
    grid-area: other;
    justify-self: center;
    align-self: center;
}

.button_container{
    grid-area: button;
    max-height: inherit;
    max-width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.button{
    max-height: 250px;
    max-width: 250px;
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 15px;
}

.mewtwo{
    background: white url(../media/mewtwo.png) no-repeat center;
    background-size: contain;
}
.pikachu{
    background: white url(../media/pikachu.png) no-repeat center;
    background-size: contain;
}
.serperior{
    background: white url(../media/serperior.png) no-repeat center;
    background-size: contain;
}
.vulpix{
    background: white url(../media/vulpix.png) no-repeat center;
    background-size: contain;
}


/* pokemon icon */ 

.gg-pokemon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 5px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset 0 0 0 2px;
    border-radius: 100%
}
.gg-pokemon::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 2px;
    border-left: 8px solid;
    border-right: 8px solid;
    left: -6px;
    top: 3px
}

@media only screen and (max-width: 750px){
    
    body {
        max-height: 1000px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
            grid-gap: 20px;
    }

    .header{
        grid-area: header;
        justify-content: center;
    }
    
    .main_container{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "name_container"
            "attributes_container";             ;
    }

    .attributes_container{
        margin: 1% 1%;
        max-height: 500px;
    }

    .footer {
        grid-area: footer;
        color: grey;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas: 
            "other"
            " button_container"
        ;
    }
    
    .other_container{
        grid-area: other;
    }

    .button_container{
        grid-area: button_container;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
            "mewtwo pikachu"
            "sera vulpix";
        
    }

    .mewtwo, .serperior{

        justify-self: flex-end;
    }

    .button {
        max-width: px;
    }
}
